<!DOCTYPE html>
<html>
    <head>
        <title>Sigma6</title>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <script src="/static/js/vendors/modernizr-2.0.6.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/static/js/vendors/ember-latest.min.js"></script>
        <script src="/static/js/vendors/ember-rest.js"></script>
        <script src="/static/js/plugins.js"></script>    
        <script src="/static/js/app.js"></script>
        <script type="text/x-handlebars" data-template-name="list-template">
        <div class="commands">
            <a href="#" {{action "refreshListing"}}>Refresh Listing</a>
            <a href="#" {{action "showNew"}}>Add Build</a>
        </div>
        <div>
            <ul>
                {{#if isNewVisible}}
                    <li class="new">{{view App.NewBuildView}}</li>
                {{/if}}
            </ul>
            <ul>
                {{#each builds}}
                    <li class="build">{{view App.ShowBuildView buildBinding="this"}}</li>
                {{/each}}
            </ul>
        </div>
        </script>
        <script type="text/x-handlebars" data-template-name="show-template">
                <a href="#" {{action "toggleFullView"}}>{{build.revision}}@{{build.timestamp}}</a>{{build.description}}
                {{#if fullView}}
                        {{view App.fullBuildView buildBinding="build"}}
                {{/if}}
                <span class="commands">
                    {{#unless isEditing}}
                         <a href="#" {{action "rebuildBuild"}}>Rebuild</a>
                         <a href="#" {{action "destroyBuild"}}>Clear</a>
                    {{/unless}}
                </span>
        </script>
        <script type="text/x-handlebars" data-template-name="full-build-template">
            {{#with build}}
                <p>{{target}}</p>
                <div style="overflow: auto; height: 100ex">
                <pre style="font-size: 10px">{{status}}</pre>
                </div>
            {{/with}}
        </script>
        <script type="text/x-handlebars" data-template-name="edit-template">
            {{#with build}}
                {{view Ember.TextField valueBinding="target"  placeholder="Target"}}
                {{#if id}}
                    {{submitButton "Update"}}
                {{else}}
                    {{submitButton "Create"}}
                {{/if}}
            {{/with}}
            <a href="#" {{action "cancelForm"}}>Cancel</a>
        </script>
    </head>
    <body>
    <h1>Sigma6 Builds</h1>
    <script type="text/x-handlebars">
        {{ view App.ListBuildsView }}
    </script>
    <script type="text/javascript">
        $(function() {
            App.buildsController.findAll();
        });
    </script>
    </body>
</html>
