html { 
        background-color: #ccc; 
        height: 100%; 
        width: 100%; 
        font-size: 14px;
        font-family: Helvetica, san-serif;
}
body { 
        width: 80%; 
        margin: auto; 
        background-color: white; 
        border: 1px solid black; 
        min-height: 100%;
        padding: 1em;
}

li { list-style: none; margin: 0; }
ul { margin: 0 auto;
     padding: 0;}
